<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>date</th>
      <th>place</th>
      <th>team</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>19/09/2012</td>
      <td>H</td>
      <td>CFR Cluj</td>
    </tr>
    <tr>
      <td>02/10/2012</td>
      <td>A</td>
      <td>Sporting Braga</td>
    </tr>
    <tr>
      <td>23/10/2012</td>
      <td>H</td>
      <td>Sporting Braga</td>
    </tr>
    <tr>
      <td>07/11/2012</td>
      <td>A</td>
      <td>CFR Cluj</td>
    </tr>
    <tr>
      <td>20/11/2012</td>
      <td>A</td>
      <td>Real Madrid</td>
    </tr>
    <tr>
      <td>05/12/2012</td>
      <td>H</td>
      <td>Real Madrid</td>
    </tr>
    <tr>
      <td>13/02/2013</td>
      <td>A</td>
      <td>Everton FC</td>
    </tr>
    <tr>
      <td>05/03/2013</td>
      <td>H</td>
      <td>Fulham FC</td>
    </tr>
    <tr>
      <td>20/08/2012</td>
      <td>A</td>
      <td>Southampton FC</td>
    </tr>
    <tr>
      <td>25/08/2012</td>
      <td>H</td>
      <td>Wigan Athletic</td>
    </tr>
    <tr>
      <td>02/09/2012</td>
      <td>A</td>
      <td>Liverpool FC</td>
    </tr>
    <tr>
      <td>15/09/2012</td>
      <td>H</td>
      <td>Tottenham Hotspur</td>
    </tr>
    <tr>
      <td>23/09/2012</td>
      <td>A</td>
      <td>Newcastle United</td>
    </tr>
    <tr>
      <td>29/09/2012</td>
      <td>H</td>
      <td>Stoke City</td>
    </tr>
    <tr>
      <td>07/10/2012</td>
      <td>A</td>
      <td>Chelsea FC</td>
    </tr>
    <tr>
      <td>20/10/2012</td>
      <td>H</td>
      <td>Arsenal FC</td>
    </tr>
    <tr>
      <td>28/10/2012</td>
      <td>A</td>
      <td>Aston Villa</td>
    </tr>
    <tr>
      <td>03/11/2012</td>
      <td>H</td>
      <td>Norwich City</td>
    </tr>
    <tr>
      <td>10/11/2012</td>
      <td>A</td>
      <td>Queens Park Rangers</td>
    </tr>
    <tr>
      <td>17/11/2012</td>
      <td>A</td>
      <td>West Ham United</td>
    </tr>
    <tr>
      <td>24/11/2012</td>
      <td>H</td>
      <td>Reading FC</td>
    </tr>
    <tr>
      <td>28/11/2012</td>
      <td>H</td>
      <td>Manchester City</td>
    </tr>
    <tr>
      <td>01/12/2012</td>
      <td>A</td>
      <td>Sunderland AFC</td>
    </tr>
    <tr>
      <td>09/12/2012</td>
      <td>A</td>
      <td>Swansea City</td>
    </tr>
    <tr>
      <td>15/12/2012</td>
      <td>H</td>
      <td>Newcastle United</td>
    </tr>
    <tr>
      <td>23/12/2012</td>
      <td>A</td>
      <td>West Bromwich Albion</td>
    </tr>
    <tr>
      <td>26/12/2012</td>
      <td>H</td>
      <td>Wigan Athletic</td>
    </tr>
    <tr>
      <td>29/12/2012</td>
      <td>H</td>
      <td>Liverpool FC</td>
    </tr>
    <tr>
      <td>01/01/2013</td>
      <td>A</td>
      <td>Tottenham Hotspur</td>
    </tr>
    <tr>
      <td>13/01/2013</td>
      <td>H</td>
      <td>Southampton FC</td>
    </tr>
    <tr>
      <td>20/01/2013</td>
      <td>A</td>
      <td>Fulham FC</td>
    </tr>
    <tr>
      <td>30/01/2013</td>
      <td>H</td>
      <td>Everton FC</td>
    </tr>
    <tr>
      <td>02/02/2013</td>
      <td>A</td>
      <td>Queens Park Rangers</td>
    </tr>
    <tr>
      <td>10/02/2013</td>
      <td>H</td>
      <td>Norwich City</td>
    </tr>
    <tr>
      <td>23/02/2013</td>
      <td>A</td>
      <td>Reading FC</td>
    </tr>
    <tr>
      <td>02/03/2013</td>
      <td>H</td>
      <td>Sunderland AFC</td>
    </tr>
    <tr>
      <td>16/03/2013</td>
      <td>H</td>
      <td>Manchester City</td>
    </tr>
    <tr>
      <td>30/03/2013</td>
      <td>A</td>
      <td>Stoke City</td>
    </tr>
    <tr>
      <td>08/04/2013</td>
      <td>H</td>
      <td>West Ham United</td>
    </tr>
    <tr>
      <td>14/04/2013</td>
      <td>A</td>
      <td>Aston Villa</td>
    </tr>
    <tr>
      <td>17/04/2013</td>
      <td>A</td>
      <td>Arsenal FC</td>
    </tr>
    <tr>
      <td>22/04/2013</td>
      <td>H</td>
      <td>Chelsea FC</td>
    </tr>
    <tr>
      <td>28/04/2013</td>
      <td>A</td>
      <td>Swansea City</td>
    </tr>
    <tr>
      <td>05/05/2013</td>
      <td>H</td>
      <td>West Bromwich Albion</td>
    </tr>
    <tr>
      <td>12/05/2013</td>
      <td>H</td>
      <td>West Ham United</td>
    </tr>
    <tr>
      <td>19/05/2013</td>
      <td>A</td>
      <td>West Ham United</td>
    </tr>
    <tr>
      <td>05/01/2013</td>
      <td>A</td>
      <td>Fulham FC</td>
    </tr>
    <tr>
      <td>16/01/2013</td>
      <td>H</td>
      <td>Reading FC</td>
    </tr>
    <tr>
      <td>26/01/2013</td>
      <td>H</td>
      <td>Chelsea FC</td>
    </tr>
    <tr>
      <td>18/02/2013</td>
      <td>H</td>
      <td>Chelsea FC</td>
    </tr>
    <tr>
      <td>10/03/2013</td>
      <td>H</td>
      <td>Newcastle United</td>
    </tr>
    <tr>
      <td>01/04/2013</td>
      <td>A</td>
      <td>Chelsea FC</td>
    </tr>
  </tbody>
</table>