<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>date</th>
      <th>place</th>
      <th>team</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>16/08/2014</td>
      <td>H</td>
      <td>Swansea City</td>
    </tr>
    <tr>
      <td>24/08/2014</td>
      <td>A</td>
      <td>Sunderland AFC</td>
    </tr>
    <tr>
      <td>30/08/2014</td>
      <td>A</td>
      <td>Burnley FC</td>
    </tr>
    <tr>
      <td>14/09/2014</td>
      <td>H</td>
      <td>Queens Park Rangers</td>
    </tr>
    <tr>
      <td>21/09/2014</td>
      <td>A</td>
      <td>Leicester City</td>
    </tr>
    <tr>
      <td>27/09/2014</td>
      <td>H</td>
      <td>West Ham United</td>
    </tr>
    <tr>
      <td>05/10/2014</td>
      <td>H</td>
      <td>Everton FC</td>
    </tr>
    <tr>
      <td>20/10/2014</td>
      <td>A</td>
      <td>West Bromwich Albion</td>
    </tr>
    <tr>
      <td>26/10/2014</td>
      <td>H</td>
      <td>Chelsea FC</td>
    </tr>
    <tr>
      <td>02/11/2014</td>
      <td>A</td>
      <td>Manchester City</td>
    </tr>
    <tr>
      <td>08/11/2014</td>
      <td>H</td>
      <td>Crystal Palace</td>
    </tr>
    <tr>
      <td>22/11/2014</td>
      <td>A</td>
      <td>Arsenal FC</td>
    </tr>
    <tr>
      <td>29/11/2014</td>
      <td>H</td>
      <td>Hull City</td>
    </tr>
    <tr>
      <td>02/12/2014</td>
      <td>H</td>
      <td>Stoke City</td>
    </tr>
    <tr>
      <td>08/12/2014</td>
      <td>A</td>
      <td>Southampton FC</td>
    </tr>
    <tr>
      <td>14/12/2014</td>
      <td>H</td>
      <td>Liverpool FC</td>
    </tr>
    <tr>
      <td>20/12/2014</td>
      <td>A</td>
      <td>Aston Villa</td>
    </tr>
    <tr>
      <td>26/12/2014</td>
      <td>H</td>
      <td>Newcastle United</td>
    </tr>
    <tr>
      <td>28/12/2014</td>
      <td>A</td>
      <td>Tottenham Hotspur</td>
    </tr>
    <tr>
      <td>01/01/2015</td>
      <td>A</td>
      <td>Stoke City</td>
    </tr>
    <tr>
      <td>11/01/2015</td>
      <td>H</td>
      <td>Southampton FC</td>
    </tr>
    <tr>
      <td>17/01/2015</td>
      <td>A</td>
      <td>Queens Park Rangers</td>
    </tr>
    <tr>
      <td>31/01/2015</td>
      <td>H</td>
      <td>Leicester City</td>
    </tr>
    <tr>
      <td>08/02/2015</td>
      <td>A</td>
      <td>West Ham United</td>
    </tr>
    <tr>
      <td>11/02/2015</td>
      <td>H</td>
      <td>Burnley FC</td>
    </tr>
    <tr>
      <td>21/02/2015</td>
      <td>A</td>
      <td>Swansea City</td>
    </tr>
    <tr>
      <td>28/02/2015</td>
      <td>H</td>
      <td>Sunderland AFC</td>
    </tr>
    <tr>
      <td>04/03/2015</td>
      <td>A</td>
      <td>Newcastle United</td>
    </tr>
    <tr>
      <td>15/03/2015</td>
      <td>H</td>
      <td>Tottenham Hotspur</td>
    </tr>
    <tr>
      <td>22/03/2015</td>
      <td>A</td>
      <td>Liverpool FC</td>
    </tr>
    <tr>
      <td>04/04/2015</td>
      <td>H</td>
      <td>Aston Villa</td>
    </tr>
    <tr>
      <td>12/04/2015</td>
      <td>H</td>
      <td>Manchester City</td>
    </tr>
    <tr>
      <td>18/04/2015</td>
      <td>A</td>
      <td>Chelsea FC</td>
    </tr>
    <tr>
      <td>26/04/2015</td>
      <td>A</td>
      <td>Everton FC</td>
    </tr>
    <tr>
      <td>02/05/2015</td>
      <td>H</td>
      <td>West Bromwich Albion</td>
    </tr>
    <tr>
      <td>09/05/2015</td>
      <td>A</td>
      <td>Crystal Palace</td>
    </tr>
    <tr>
      <td>17/05/2015</td>
      <td>H</td>
      <td>Arsenal FC</td>
    </tr>
    <tr>
      <td>24/05/2015</td>
      <td>A</td>
      <td>Hull City</td>
    </tr>
    <tr>
      <td>04/01/2015</td>
      <td>A</td>
      <td>Yeovil Town</td>
    </tr>
    <tr>
      <td>23/01/2015</td>
      <td>A</td>
      <td>Cambridge United</td>
    </tr>
    <tr>
      <td>03/02/2015</td>
      <td>H</td>
      <td>Cambridge United</td>
    </tr>
    <tr>
      <td>16/02/2015</td>
      <td>A</td>
      <td>Preston North End</td>
    </tr>
    <tr>
      <td>09/03/2015</td>
      <td>H</td>
      <td>Arsenal FC</td>
    </tr>
    <tr>
      <td>26/08/2014</td>
      <td>A</td>
      <td>Milton Keynes Dons</td>
    </tr>
  </tbody>
</table>