<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>date</th>
      <th>place</th>
      <th>team</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>15/09/2015</td>
      <td>A</td>
      <td>PSV Eindhoven</td>
    </tr>
    <tr>
      <td>30/09/2015</td>
      <td>H</td>
      <td>VfL Wolfsburg</td>
    </tr>
    <tr>
      <td>21/10/2015</td>
      <td>A</td>
      <td>CSKA Moskva</td>
    </tr>
    <tr>
      <td>03/11/2015</td>
      <td>H</td>
      <td>CSKA Moskva</td>
    </tr>
    <tr>
      <td>25/11/2015</td>
      <td>H</td>
      <td>PSV Eindhoven</td>
    </tr>
    <tr>
      <td>08/12/2015</td>
      <td>A</td>
      <td>VfL Wolfsburg</td>
    </tr>
    <tr>
      <td>18/08/2015</td>
      <td>H</td>
      <td>Club Brugge KV</td>
    </tr>
    <tr>
      <td>26/08/2015</td>
      <td>A</td>
      <td>Club Brugge KV</td>
    </tr>
    <tr>
      <td>18/02/2016</td>
      <td>A</td>
      <td>FC Midtjylland</td>
    </tr>
    <tr>
      <td>25/02/2016</td>
      <td>H</td>
      <td>FC Midtjylland</td>
    </tr>
    <tr>
      <td>10/03/2016</td>
      <td>A</td>
      <td>Liverpool FC</td>
    </tr>
    <tr>
      <td>17/03/2016</td>
      <td>H</td>
      <td>Liverpool FC</td>
    </tr>
    <tr>
      <td>08/08/2015</td>
      <td>H</td>
      <td>Tottenham Hotspur</td>
    </tr>
    <tr>
      <td>14/08/2015</td>
      <td>A</td>
      <td>Aston Villa</td>
    </tr>
    <tr>
      <td>22/08/2015</td>
      <td>H</td>
      <td>Newcastle United</td>
    </tr>
    <tr>
      <td>30/08/2015</td>
      <td>A</td>
      <td>Swansea City</td>
    </tr>
    <tr>
      <td>12/09/2015</td>
      <td>H</td>
      <td>Liverpool FC</td>
    </tr>
    <tr>
      <td>20/09/2015</td>
      <td>A</td>
      <td>Southampton FC</td>
    </tr>
    <tr>
      <td>26/09/2015</td>
      <td>H</td>
      <td>Sunderland AFC</td>
    </tr>
    <tr>
      <td>04/10/2015</td>
      <td>A</td>
      <td>Arsenal FC</td>
    </tr>
    <tr>
      <td>17/10/2015</td>
      <td>A</td>
      <td>Everton FC</td>
    </tr>
    <tr>
      <td>25/10/2015</td>
      <td>H</td>
      <td>Manchester City</td>
    </tr>
    <tr>
      <td>31/10/2015</td>
      <td>A</td>
      <td>Crystal Palace</td>
    </tr>
    <tr>
      <td>07/11/2015</td>
      <td>H</td>
      <td>West Bromwich Albion</td>
    </tr>
    <tr>
      <td>21/11/2015</td>
      <td>A</td>
      <td>Watford FC</td>
    </tr>
    <tr>
      <td>28/11/2015</td>
      <td>A</td>
      <td>Leicester City</td>
    </tr>
    <tr>
      <td>05/12/2015</td>
      <td>H</td>
      <td>West Ham United</td>
    </tr>
    <tr>
      <td>12/12/2015</td>
      <td>A</td>
      <td>AFC Bournemouth</td>
    </tr>
    <tr>
      <td>19/12/2015</td>
      <td>H</td>
      <td>Norwich City</td>
    </tr>
    <tr>
      <td>26/12/2015</td>
      <td>A</td>
      <td>Stoke City</td>
    </tr>
    <tr>
      <td>28/12/2015</td>
      <td>H</td>
      <td>Chelsea FC</td>
    </tr>
    <tr>
      <td>02/01/2016</td>
      <td>H</td>
      <td>Swansea City</td>
    </tr>
    <tr>
      <td>12/01/2016</td>
      <td>A</td>
      <td>Newcastle United</td>
    </tr>
    <tr>
      <td>17/01/2016</td>
      <td>A</td>
      <td>Liverpool FC</td>
    </tr>
    <tr>
      <td>23/01/2016</td>
      <td>H</td>
      <td>Southampton FC</td>
    </tr>
    <tr>
      <td>02/02/2016</td>
      <td>H</td>
      <td>Stoke City</td>
    </tr>
    <tr>
      <td>07/02/2016</td>
      <td>A</td>
      <td>Chelsea FC</td>
    </tr>
    <tr>
      <td>13/02/2016</td>
      <td>A</td>
      <td>Sunderland AFC</td>
    </tr>
    <tr>
      <td>28/02/2016</td>
      <td>H</td>
      <td>Arsenal FC</td>
    </tr>
    <tr>
      <td>02/03/2016</td>
      <td>H</td>
      <td>Watford FC</td>
    </tr>
    <tr>
      <td>06/03/2016</td>
      <td>A</td>
      <td>West Bromwich Albion</td>
    </tr>
    <tr>
      <td>20/03/2016</td>
      <td>A</td>
      <td>Manchester City</td>
    </tr>
    <tr>
      <td>03/04/2016</td>
      <td>H</td>
      <td>Everton FC</td>
    </tr>
    <tr>
      <td>10/04/2016</td>
      <td>A</td>
      <td>Tottenham Hotspur</td>
    </tr>
    <tr>
      <td>16/04/2016</td>
      <td>H</td>
      <td>Aston Villa</td>
    </tr>
    <tr>
      <td>20/04/2016</td>
      <td>H</td>
      <td>Crystal Palace</td>
    </tr>
    <tr>
      <td>01/05/2016</td>
      <td>H</td>
      <td>Leicester City</td>
    </tr>
    <tr>
      <td>07/05/2016</td>
      <td>A</td>
      <td>Norwich City</td>
    </tr>
    <tr>
      <td>10/05/2016</td>
      <td>A</td>
      <td>West Ham United</td>
    </tr>
    <tr>
      <td>17/05/2016</td>
      <td>H</td>
      <td>AFC Bournemouth</td>
    </tr>
    <tr>
      <td>09/01/2016</td>
      <td>H</td>
      <td>Sheffield United</td>
    </tr>
    <tr>
      <td>29/01/2016</td>
      <td>A</td>
      <td>Derby County</td>
    </tr>
    <tr>
      <td>22/02/2016</td>
      <td>A</td>
      <td>Shrewsbury Town</td>
    </tr>
    <tr>
      <td>13/03/2016</td>
      <td>H</td>
      <td>West Ham United</td>
    </tr>
    <tr>
      <td>13/04/2016</td>
      <td>A</td>
      <td>West Ham United</td>
    </tr>
    <tr>
      <td>23/04/2016</td>
      <td>A</td>
      <td>Everton FC</td>
    </tr>
    <tr>
      <td>21/05/2016</td>
      <td>N</td>
      <td>Crystal Palace</td>
    </tr>
    <tr>
      <td>23/09/2015</td>
      <td>H</td>
      <td>Ipswich Town</td>
    </tr>
    <tr>
      <td>28/10/2015</td>
      <td>H</td>
      <td>Middlesbrough FC</td>
    </tr>
  </tbody>
</table>