<!DOCTYPE html>
<html lang="en">

<body>
<center>
    Upload your traffic data files
<form id="form1" method="post" action="/datalake">
    <div>
        <input id="File1" type="file" name="file"/>
        <input type="submit">upload</input>
    </div>
</form>
    <br/>
    <br/>
    <hr/>
<div>
    <center>View folders in data lake</center>
    <a href="file:///Users/ushisensei/datalake">data lake</a>

</div>

<form id="form3" method="post" action="/">
<div>
    <button type="submit">back </button>

</div>
</form>

</center>

</body>
</html>