<html xmlns="http://www.w3.org/1999/html">
<body>
<center>
    <h1>Welcome to my Project</h1>
    <h2>Please choose one item</h2>
<form id="form1" method="post" action="/datalake" >
    <div>
    <button type="submit" style="width:100px;height:60px">Data Lake </button>
    </div>
</form>
</center>

<center>

<form id="form2" method="post" action="/datascrap1" >
    <div>
    <button type="submit" style="width:100px;height:60px">Data Scrap </button>
    </div>
</form>
</center>
<center>

<form id="form3" method="post" action="/Kmeans" >
    <div>
    <button type="submit" style="width:100px;height:60px">K-means model </button>
    </div>
</form>
</center>
<center>

<form id="form4" method="post" action="/Arima1" >
    <div>
    <button type="submit" style="width:100px;height:60px">Arima model </button>
    </div>
</form>
</center>
<center>

<form id="form5" method="post" action="/lstm2" >
    <div>
    <button type="submit" style="width:100px;height:60px">Lstm model </button>
    </div>
</form>
</center>
</body>
</html>